<!-- Sidebar -->
<nav class="p-4 min-h-dvh">
  <h1>Grocery Shop</h1>
  <ul>
    <li><a href="/shop"></a></li>
    <li><a href="/shop/categories">Categories</a></li>
    <li><a href="/shop/items">All Items</a></li>

    <li><a href="/shop/category/create">Create Category</a></li>
    <li><a href="/shop/item/create">Create Item</a></li>
  </ul>
</nav>
